[submodule "src/sns_sqs"]
	path = src/sns_sqs
	url = https://github.com/sathya4555/sns_sqs.git
[submodule "src/DtoBase"]
	path = src/DtoBase
	url = https://github.com/sathya4555/DtoBase.git
[submodule "src/Dtos"]
	path = src/Dtos
	url = https://github.com/sathya4555/Dtos.git
[submodule "src/entity"]
	path = src/entity
	url = https://github.com/sathya4555/entity.git
[submodule "src/mappers"]
	path = src/mappers
	url = https://github.com/sathya4555/mappers.git
